










#anb-location-id-9581 {
	position: fixed;
	width: px;
	right: 10px;
	top: 10%;
	z-index: 99;
}


/*
     FILE ARCHIVED ON 11:42:04 Jan 21, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:17:49 Nov 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.485
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.009
  esindex: 0.02
  cdx.remote: 124.532
  LoadShardBlock: 180.792 (3)
  PetaboxLoader3.datanode: 620.573 (5)
  load_resource: 666.278
  PetaboxLoader3.resolve: 203.27
  loaddict: 20.645
*/