@CHARSET "ISO-8859-1";
/*
     FILE ARCHIVED ON 11:40:40 Jan 21, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:17:51 Nov 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.519
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 48.464
  LoadShardBlock: 77.501 (3)
  PetaboxLoader3.datanode: 275.328 (5)
  load_resource: 289.467
  PetaboxLoader3.resolve: 80.217
  loaddict: 115.339
*/