/*

Theme Name: X &ndash; Child Theme
Theme URI: http://theme.co/x/
Author: Themeco
Author URI: http://theme.co/
Description: Make all of your modifications to X in this child theme.
Version: 1.0.0
Template: x

*/
@media screen and (max-width: 800px) {
	.woocommerce div.product .woocommerce-tabs {margin-top: 178px !important;}
	
	.button.single_add_to_cart_button.button.alt {
		margin-left: 25% !important;
		margin-top: 5% !important;
	}
}

.knb-icon:before {
    font-family: "FontAwesome";
}
.knb-icon:before {
    content: '\f196';
}


/*====START CART PAGE STYLING===*/

.cust {
    display: block !important; margin: 1.25em 0 0.2em !important;
}


.page-id-195 .h-custom-headline {
    display: none;
}

.page-id-195 .h5 {display: block !important;}

#coupons_list h2 {
    margin-top: 0 !important; letter-spacing: -1px !important; line-height: 1.1 !important; font-size: 26px !important;
}

/*.cross-sells.cols-4 {display: none;}*/

.cross-sells li.product {
    width: 90% !important;
}

.woocommerce #shipping_method li {
    border-bottom: 1px solid #cccccc !important;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0.425em 5px !important;
}


.woocommerce #shipping_method label {
    display: inline !important;
}


/*====END CART PAGE STYLING===*/

/*====START SINGLE PRODUCT PAGE STYLING===*/
div.flex-viewport {
    margin-top: 58px;
}
.woocommerce form.cart {
    position: relative !important;
    display: flex;
    max-width: 460px;
}
form p.quantitytxt {
    float: none;
}
.woocommerce form .quantity, .woocommerce-page form .quantity {
    float: none;
}
.type-product .summary.entry-summary > div:first-of-type {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}
.type-product .summary.entry-summary .woocommerce .star-rating {
    display: inline-block;
}
.type-product .summary.entry-summary a.woocommerce-review-link {
    display: inline-block;
}
@media screen and (max-width: 800px) {
    .woocommerce div.product div.woocommerce-tabs {
        margin-top: 18px !important;
    }
    button.button.single_add_to_cart_button.button.alt {
        flex-basis: 100%;
        margin-top: 20px !important;
        margin-left: 0 !important;
    }
    .woocommerce form.cart {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 500px) {
    .woocommerce form.cart {
        padding: 30px 25px 30px;
    }
}

/*====END SINGLE PRODUCT PAGE STYLING===*/

/*====START CUSTOM CATEGORY PAGE STYLING===*/
.add-background-image {
    background-size: cover;
    background-position: center;
}
.add-background-image.first {
    background-image:url('https://web.archive.org/web/20211227081739im_/https://www.skydrop.com/wp-content/uploads/2018/06/ARC-google-home-Alexa.jpg');
    height: 450px;
}
.price-row div.x-column {

    margin: auto;
}

.price-row div.x-column div {
    flex-basis: 100%;
}

.price-row div.x-column a{
    width: 36%;
}

.price-row .x-column.x-1-3 {
    width: unset;
}
.product-comparison .price-row .x-column {
    text-align: center;
}

.product-comparison .x-container.width {
    border-bottom: 1px solid rgba(50, 153, 212, 0.4) !important;
}
.product-comparison .x-container.width:first-of-type {
    border-bottom: none !important;
}
.product-comparison .x-container.width:first-of-type .x-column {
    border-right: none !important;
}
.product-comparison .x-container.width:last-of-type {
    border-bottom: none !important;
}
/*.product-comparison .x-container.width:last-of-type .x-column {*/
    /*border-right: none !important;*/
/*}*/
.product-comparison div.x-container .x-column {
    border-right: 1px solid rgba(50, 153, 212, 0.4);
}
.product-comparison .x-container.marginless-columns .x-column.x-1-3 {
    width: unset;
}
.price-row a.x-anchor-button {
    transition: .2s ease;
}
.price-row a.x-anchor-button:first-of-type:hover {
    background: #f9844d;
    color: white !important;
}
.price-row a.x-anchor-button:first-of-type:hover .x-anchor-text-primary {
    color: white !important;
}

.price-row a.x-anchor-button:last-of-type:hover {
    background: white;
    border: 2px solid #f9844d !important;
}
.price-row a.x-anchor-button:last-of-type:hover .x-anchor-text-primary {
    color: #f9844d !important;
}
.el98.x-anchor[class*=active] {
    background: unset !important;
}


.product-type-variable form.variations_form.cart {
    flex-wrap: wrap;
}

.product-type-variable button.single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed {
    float: right;
}

.product-type-variable table.variations tr {
    display: flex;
    flex-wrap: wrap;
}

.product-type-variable table.variations tr td.label {
    padding-top: 0;
}

.product-type-variable table.variations tr td.value {
    padding-left: 0;
}

.product-type-variable .single_variation_wrap {
    display: flex;
}

.product-type-variable .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled .quantity, .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled .quantity {
    display: inline;
    float: left;
}
@media(max-width:980px) {
    .hero-header {
        font-size: 36px !important;
        padding-bottom: 10px !important;
    }

    .hero-subheader {
        line-height: 1.5 !important;
    }
}

@media(max-width:768px) {
    .add-background-image .x-text {
        line-height: 1.2;
    }
    .add-background-image.first {
        height:510px;
    }
    .product-comparison .x-container.width {
        display: table !important;
    }
    .product-comparison.x-section .x-container.marginless-columns .x-column[class*="x-"] {
        display:table-cell !important;
    }
    .product-comparison.x-section .x-container.marginless-columns:before, .product-comparison.x-section .x-container.marginless-columns:after {
        display: none !important;
    }
    .price-row div.x-column a {
        width: 100%;
        margin-bottom: 9px;
    }
    .product-comparison.x-section .x-container .x-column .x-text {
        padding: 0 !important;
    }
    .product-comparison.x-section .x-container .x-column {
        vertical-align: middle !important;
        padding: 10px;
    }
    .product-comparison.x-section .x-icon {
        font-size: 20px !important;
    }
    .product-comparison.x-section .x-icon-asterisk {
        font-size: 12px !important;
    }
    .price-row div.x-column .x-text {
        font-size: 18px !important;
        margin-bottom:8px;
    }
    .price-row div.x-column:first-of-type .x-text {
        font-size:  .85em !important;
        margin-bottom: 0 !important;
    }
    .price-row div.x-column a span.x-anchor-text-primary {
        font-size: 13px !important;
    }
    .product-comparison-related.x-section .x-container.marginless-columns {
        display: table !important;
    }
}
@media(max-width: 500px) {
    .add-background-image .x-text {
        font-size: 35px !important;
    }
    .add-background-image.first {
        height: 390px;
        padding: 45px 40px !important;
    }
    .product-comparison .el12.x-column.x-sm.x-1-1 .x-text {
        font-size: 30px !important;
        line-height: 1.2;
    }
    .product-comparison-related .el142.x-column.x-sm.x-1-1 .x-text {
        font-size: 30px !important;
        line-height: 1.2;
    }
    .el19.x-container.max.width.marginless-columns:first-of-type .x-text {
        font-size: 18px !important;
    }

    .product-comparison .x-column .el23.x-text {
        font-size: 0.7em !important;
        line-height: 1.1;
    }

    .product-comparison .x-column .el26.x-text {
        font-size: 0.7em;
        line-height: 1.1;
    }

    .product-comparison.x-section .x-container .x-column .x-text {
        font-size: 0.7em;
        line-height: 1.2;
    }
}
/*
     FILE ARCHIVED ON 08:17:39 Dec 27, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:17:49 Nov 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.821
  exclusion.robots: 0.034
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 46.975
  LoadShardBlock: 74.984 (3)
  PetaboxLoader3.datanode: 90.616 (4)
  PetaboxLoader3.resolve: 9.998
  load_resource: 34.659
*/